/* Overall */
html {
	background-color: #23242F;
	color: #FFEDB8;
	font-family: "Lucida Console";
	font-size: 20px;
        overflow-wrap: break-word;
	max-width: 45em;
	margin: auto;
}


/* Headings */
h1,h2,h3,h4,h5,h6 {
	text-shadow: 2px 2px 8px #F1FA8C;
	text-decoration: underline;
}


/* Code blocks */
code {
	color: #8CD0D3;
	font-family: "Courier";
	font-weight: bold;
}


/* Link colour */
a {
	color: #FF8FCE;
}


/* Makes the link change colour when the mouse hovers over it */
a:hover {
	background-color: #8F0051;
	color: #FFEDB8;
}
